// Colours
$drk-bkg: #1F2937;
$white-clr: #F9FAF8;
$blue-clr: #3882F6;
$card_hld-title: #1F2937;
$qot-bkg: #E5E7EB;
$qot-text: #1F2937;

// Text size
$txt-sm: 18px;
$txt-m: 24px;
$txt-l: 36px;
$txt-xl: 48px;

// Text style
$txt-bold: bolder;
$txt-ilt: italic;