<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steppers</title>

    <link rel="stylesheet" href="./public/dist/css/index.css">
</head>
<body>
    <div class="hero">
        <header class="header">
            <div class="logo">Steppers Logo</div>
            <ul class="header_links">
                <li class="link"><a href="#" class="header-link">Men's shoes</a></li>
                <li class="link"><a href="#" class="header-link">Women's shoes</a></li>
                <li class="link"><a href="#" class="header-link">Children's shoes</a></li>
            </ul>
        </header>
        <div class="hero_container">
            <div class="content">
                <h1 class="hero_title">This website is awesome</h1>
                <p class="hero_subtext"> Your one stop shop for all things footwear. 
                    Here at Steppers will want you to be about to not just you to look go but we want you to feel food too. 
                    Why walk a mile in someone else's shoes when you can walk 10 thousand in your own?
                </p>
                <button class="btn" type="button">Sign up</button>
            </div>
            <div class="hero_image"></div>
        </div>
    </div>
    <div class="cardHolder">
        <h2 class="cardHolder_title">We have shoes for everyone. Take your pick</h2>
        <div class="cards">
            <div class="card">
                <img src="/img/pexels-scott-webb-137603.jpg" alt="Women's shoes" class="img i1">
                <p class="img_subtext">
                    Give a woman the right shoes and she can counqer the world, so choose your armour
                </p>
            </div>
            <div class="card">
                <img src="/img/pexels-melvin-buezo-2529148.jpg" alt="Athletic shoes" class="img i2">
                <p class="img_subtext">
                    Exerise footwear the support you mind body and sole.
                </p>
            </div>
            <div class="card">
                <img src="/img/pexels-jordan-hyde-1032110.jpg" alt="Casual Sneakers Shoes" class="img i3">
                <p class="img_subtext">
                    Look cool and comfortable as you take to the street.
                </p>
            </div>
            <div class="card">
                <img src="/img/pexels-frans-van-heerden-847371.jpg" alt="Unisex shoes" class="img i4">
                <p class="img_subtext">
                    Unisex shoes, offering our very best the both worlds.
                </p>
            </div>
        </div>
    </div>
    <div class="quote">
        <div class="text"> "Momma always says there's an awful lot you could tell about a person by their shoes. Where they're going. Where they've been."
            <span class="author bold">- Forrest Gump</span>
        </div>
    </div>
    <div class="callToAction">
        <div class="call">
            <div class="call-content">
                <h3 class="call-title">Call to action</h3>
                <p class="call-instruction">Sign up for our products, notifications and memebers only discount codes by clicking the sign up button</p>
            </div>
            <button type="button" class="btn">Sign up</button>
        </div>
    </div>
    <footer> &copy; The Odin Project 2021 </footer>
</body>
</html>